<div class="footer">
  <div class="row">
    <div class="twelve columns">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="nine columns">
      <ul>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/community-outreach.html">Community</a></li>
        <li><a href="/faq.html">FAQ</a></li>
        <li><a href="">Post Treatment</a></li>
      </ul>
    </div>
    <div class="three columns">
      <small>Bloomington Pediatric Dentistry</small>
    </div>
  </div>
</div>