<div class="footer">
  <div class="row">
    <div class="twelve columns">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="eight columns">
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/faq.html">FAQ</a></li>
        <li><a href="/post-op.html">Post Treatment</a></li>
        <li><a href="/office.html">Office</a></li>
        <li><a href="/community-outreach.html">Community</a></li>
        <li><a href="/referring-doctors.html">Referring</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="/cavity-free-club.html">Cavity Free Club</a></li>
        
      </ul>
    </div>
    <div class="four columns">
      <small class="right">Bloomington Pediatric Dentistry</small>
      <a class="right" href="https://www.facebook.com/BloomingtonPediatricDentistry"><img src="/images/icons/facebook.png" alt="facebook"></a>
    </div>
  </div>
</div> 