
<hr class="ribbon">
<div class="header">
  <div class="row">
    <h2><a href="/">
      <img src="/images/logo-2.png" alt="Bloomington Pediatric Dentistry"></a>
    </h2>
    {% unless page.layout == 'front' %}
      <ul class="navigation">
        {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url == link.url or page.layout == link.layout %}
            {% assign current = 'current' %}
          {% endif %}

          <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
            <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endunless %}
    <a href="https://login.sesamecommunications.com/bpd/index.html" class="btn patient-login">Patient Login</a>
  </div>
</div>