
<hr class="ribbon">
<div class="header">
  <div class="row">
    <div class="wrapper">
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/special-needs.html">Special Needs</a></li>
        <!-- <li><a href="/office.html">Office</a></li> -->
      </ul>

      <h2><a href="/">
        <img src="/images/logo-2.png" alt="Bloomington Pediatric Dentistry"></a>
      </h2>

      <ul>
        <li><a href="/services.html">Services</a></li>
        <li><a href="/smile-baby.html">Smile Baby</a></li>
        <li><a href="/referring-doctors.html">Referring Doctors</a></li>
      </ul>
      <!-- <a href="/title.html">Patient Login</a> -->
    </div>
  </div>
</div>